<!Doctype html>
<html>
	<head>
		<meta charset = "UTF-8" >
		<link rel="stylesheet" href="css/app.css" >
		<link rel="stylesheet" href="css/forms.css" >
		<script  src="scripts/jquery-2.2.2.js"></script>
	</head>
	<body>
		<div id="head">
		<p>ConsolTech Calibration   <span id="greeting">Hello </span> </p>
		</div>
		<div id="aside">
			<ul>
				<li><a href="new">New Certificate</a></li>
				<li><a href="summary">Certificate Summary</a></li>
				<li><a href="admin">Admin</a></li>
			</ul>
		</div>
	<div id="content">
		
<iframe src="C:\Users\caleb kandoro\Documents\code\code\Isocal server\certificate_server\certificates\completed\201604200912KK.html" width="600" height="800"></iframe>

	</div>
	</body>
</html>
